<section class="moving-gradient text-gray-600 body-font h-screen flex items-center justify-center">
    <div class="glow-effect pb-20 pt-20 pr-20 pl-20 rounded-lg shadow-lg w-full max-w-md">
      <div class="flex justify-center mb-6">
        <img src="https://cdn-icons-png.flaticon.com/128/14886/14886129.png" alt="Foto del Usuario" class="w-32 h-32 rounded-full">
      </div>
      <ul class="mb-6">
        <li><strong>Nombre Completo:</strong> Juan Pérez</li>
        <li><strong>Cumpleaños:</strong> 10 de Enero, 1990</li>
        <li><strong>Edad:</strong> 34</li>
        <li><strong>Correo:</strong>juan.perezexample.com</li>
        <li><strong>Género:</strong> Masculino</li>
        <li><strong>Número de Boleta:</strong> 20200123456</li>
        <li><strong>Escuela de Procedencia:</strong> Universidad Ejemplo</li>
      </ul>
      <div class="flex justify-center">
        <button (click)="navigateToUsuario()" class="bg-blue-500 text-white px-4 py-2 rounded">
          Modificar Datos
        </button>
      </div>
    </div>
  </section>
  
 