.container {
  background: linear-gradient(135deg, #fb6107, #f3de2c,#7cb518,#5c8001,#fbb02d);
  margin: 0;
  height: 100vh;
  background-size: 600% 600%;
  animation: gradientBackground 16s ease infinite;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.info-card {
  background-color: rgba(255, 248, 240, 1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 248, 240, 1);
  margin-bottom: 20px;
  margin-left:20px;
  margin-right:20px;
}

.student-info {
  margin-bottom: 50px;
}

.subjects-selection table {
  width: 100%;
  margin-bottom: 180px;
  margin-left:20px;
  margin-right:20px;
}

.finalize-button {
  text-align: center;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  