<body>
 <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-3xl mb-2 text-black">AcademeConnect</h1>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2"></div>
        <div class="leading-relaxed text-gray-900">¡Bienvendio a AcademeConnect!</div>
        <div class="leading-relaxed text-gray-900">Donde puedes consultar tus calificaciones, realizar inscripciones/reinscripciones y hacer consulta de tu horario, mucho smas eficiente y escalable, para evitar esos corajes que causan la caida del SAES y lo mejor, ES EN LA NUBE, si eres nuevo dale en el boton "Registro" para que puedas ser parte de AcademeConnect, y si ya te eres parte, dale en el boton "Iniciar Sesión" para hacer tus consultas o trámites.</div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2"></div>
        <div class="leading-relaxed text-gray-900">¡Que disfrutes de esta nueva versión!</div>
      </div>
      <button (click)='registro()' class="ml-20 mr-20 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Registro
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        </svg>
      </button>
      <button (click)='inicio()' class="ml-10 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Iniciar Sesión 
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        </svg>
      </button>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
    </div>
  </div>
</section>
</body>


